
{% comment %} {% block content %} {% endcomment %}
        
{% block nav %}{% include 'receipts/templates/navbar.html' %}{% endblock nav %}
   
        
{% block nav %} 
<header>             
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
                <li>
                    <a href="{% url "category_list" %}">Category List</a>
                </li>
                <li>
                    <a href="{% url "create_category" %}">Create Category</a>
                </li>
                <li>
                    <a href="{% url "account_list" %}">Account List</a>
                </li>
                <li>
                    <a href="{% url "create_account" %}">Create Account</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "signup" %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url "login" %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock nav %}
